@use '../../../styles/utils' as *;

.breadcrumbs {
  padding-bottom: 24px;

  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    min-height: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &:last-child {
      min-width: 0;
      flex-shrink: 1;
    }
  }

  &__link {
    @extend %small-text;

    font-size: 12px;
    color: $color-secondary-grau;
    display: flex;
    flex-shrink: 0;
    white-space: nowrap;
    align-items: center;

    transition: color $transition-duration ease;

    &--page-name {
      color: $color-primary;
      transform: translateY(1px);
    }
  }

  &__arrow {
    color: $color-icons;

    &--two {
      margin-left: 8px;
    }
  }

  &__current {
    @extend %small-text;

    display: block;
    flex-shrink: 1;
    font-size: 12px;
    transform: translateY(1px);
    color: $color-secondary-grau;

    // Three Dots
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;


  }

  &__skeleton {
    @include skeleton-bg;

    display: block;
    width: 120px;
    height: 16px;
    border-radius: 4px;
    margin-bottom: 24px;
  }
}
