@use '../../../../styles/utils/' as *;
@use '../../../../styles/utils/placeholder' as *;

.hero {
  &__container {
    @extend %content-width;

    padding-inline: 0;

    @include on-tablet {
      margin-bottom: 32px;
      padding-inline: 24px;
    }

    @include on-desktop {
      margin-bottom: 56px;
      padding-inline: 32px;
    }
  }

  &__title {
    padding-inline: 16px;
    margin-bottom: 24px;

    @extend %h1-title;

    @include on-tablet {
      margin-bottom: 32px;
      padding-inline: 0;
    }

    @include on-desktop {
      margin-bottom: 56px;
    }
  }
}
