@use '../../../../../styles/utils/' as *;

.burger-menu {
  position: fixed;
  z-index: z('modal');
  top: 48px;
  right: 0;
  left: 0;
  transform: translateX(100%);

  width: 100%;
  height: calc(100vh - 48px);
  height: calc(100dvh - 48px);
  border-top: 1px solid $color-elements;

  visibility: hidden;
  background-color: $color-surface-1;

  transition: transform 0.3s ease;

  &.is-open {
    transform: translateX(0);
    visibility: visible;
  }

  @include on-tablet {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding-bottom: max(16px, env(safe-area-inset-bottom));
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: end;
  }

  &__theme-btn {
    display: flex;
    margin-right: 16px;
  }
}
