@use '../../../../styles/utils/' as *;

.promo-slider {
  position: relative;

  // 1. КОНТЕЙНЕР СЛАЙДЕРА (Картинка)
  &__swiper {
    width: 100%; // На мобилке занимаем всю ширину

    @include on-tablet {
      // 32px (ширина кнопки) + 16px (отступ до баннера) = 48px
      margin-inline: 48px;
      width: calc(100% - 96px);
    }

    @include on-desktop {
      // 32px (ширина кнопки) + 19px (отступ до баннера) = 51px
      margin-inline: 51px;
      width: calc(100% - 102px);
    }
  }

  // 2. СЛАЙДЫ И ИЗОБРАЖЕНИЯ
  &__slide {
    aspect-ratio: 1 / 1; // Квадрат строго для картинки на мобильном
    overflow: hidden;

    @include on-tablet {
      aspect-ratio: auto;
      height: 189px;
    }

    @include on-desktop {
      height: 400px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $color-surface-3;

    @include on-tablet {
      border-radius: 8px;
    }
  }

  // 3. КАСТОМНЫЕ КНОПКИ (IconButton)
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    display: none; // Скрыты на мобилке по ТЗ

    @include on-tablet {
      display: flex;

      // Локально переопределяем высоту IconButton под банер:
      @include base-button(32px, 189px, 48px);
    }

    @include on-desktop {
      @include base-button(32px, 400px, 48px);
    }

    &--prev {
      left: 0; // Встаёт ровно в левый край .promo-slider
    }

    &--next {
      right: 0; // Встаёт ровно в правый край .promo-slider
    }
  }

  // 4. ИКОНКА СТРЕЛКИ (внутри IconButton)
  &__icon {
    &--prev {
      transform: rotate(180deg); // Разворачиваем правую стрелку влево
    }
  }


}
