@use '../../../styles/utils/' as *;

.header {
  position: sticky;
  top: 0;
  z-index: z('header');
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 48px;
  width: 100%;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__desktop-nav {
    display: none;


    @include on-tablet {
      display: flex;
      height: 100%;
      margin-inline: 16px;
    }
  }

  &__desktop-actions {
    display: none;

    @include on-tablet {
      display: flex;
      margin-left: auto;
    }
  }

  .logo {
    flex-shrink: 0;
  }

  .burger {
    margin-left: auto;

    @include on-tablet {
      display: none;
    }
  }
}
