@use '../../../../styles/utils/' as *;

.shop-by-category {
  @extend %content-width;

  &__title {
    @extend %h2-title;

    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-tablet {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include on-tablet {
      flex: 1 1 0;
      min-width: 0;
    }
  }

  &__subtitle {
    @extend %h3-title;

    margin-bottom: 4px;
  }

  &__img-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    margin-bottom: 24px;
    background-color: $color-surface-2;
    overflow: hidden;

    &--phones {
      background-color: #fcd26e;
    }

    &--tablets {
      background-color: #8d8d92;
    }

    &--accessories {
      background-color: #d8d3c4;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
    transition: transform $transition-duration $transition-effect;

    @include hover-scale;
  }

  &__count-modeles {
    @extend %small-text;

    line-height: 21px;
  }
}
