@use '../../../styles/utils/' as *;

.products-slider {
  &__header {
    @extend %content-width;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    @include on-tablet {
      padding: 0 24px;
    }

    @include on-desktop {
      padding: 0 32px;
    }
  }

  &__title {
    @extend %h2-title;
  }

  &__navigation {
    display: flex;
    > :first-child {
      margin-right: 16px;
    }
  }
  &__btn {
    &--prev {
      transform: rotate(180deg);
    }
  }



  .styles-mySwiper {
    @extend %content-width;



    @include on-tablet {
      padding-left: 24px;

    }

    @include on-desktop {
      padding-inline: 32px;

    }

    .mySwiper-slide {
      height: auto;
      width: 212px;
      flex-shrink: 0;
    }
    
    @include on-tablet {
      width: 237px;
    }

    @include on-desktop {
      width: 272px;
    }
  }



}
