@use '../../../styles/utils/' as *;

.products-slider {
  &__header {
    @extend %content-width;

    @include on-tablet {
      padding: 0 24px;
    }

    @include on-desktop {
      padding: 0 32px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    @extend %h2-title;
  }

  &__navigation {
    display: flex;
  }
  &__btn {
    &--prev {
      transform: rotate(180deg);
      margin-right: 16px;
    }
  }

  &__swiper-wrapper {
    @extend %content-width;

    padding-right: 0;

    @include on-tablet {
      padding-left: 24px;
    }

    @include on-desktop {
      padding: 32px;
    }
  }
  .styles-mySwiper {



    .mySwiper-slide {
      height: auto;
      width: 212px;
      flex-shrink: 0;

      @include on-tablet {
        width: 237px;
      }

    }
  }
}
