@use '../../styles/utils/' as *;

.product-details {
  @include padding-block-content;

  &__header {
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  // Основная сетка: Галерея + Действия
  &__main {
    display: grid;
    grid-template-columns: 1fr;
    // gap: 32px;
    margin-bottom: 56px;

    @include on-tablet {
      grid-template-columns: repeat(12, 1fr);
      gap: 16px;
    }

    @include on-desktop {
      gap: 64px;
      margin-bottom: 80px;
    }
  }

  // #region Галерея
  &__gallery {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 16px;
    margin-bottom: 40px;

    @include on-tablet {
      grid-column: span 7;
      flex-direction: row;
      align-items: start;
      margin-bottom: 16px;
    }

    @include on-desktop {
      grid-column: span 7;
    }
  }

  &__thumbnails {
    display: flex;
    flex-direction: row;
    gap: 8px;

    @include on-tablet {
      flex-direction: column;
    }
  }

  &__thumb {
    width: 50px;
    height: 50px;
    padding: 4px;
    border: 1px solid $color-elements;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    transition: border-color $transition-duration ease;

    &--active {
      border-color: $color-primary;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__main-image {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 300px;

    @include on-tablet {
      height: 400px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  // #endregion

  // #region Панель действий
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 56px;

    @include on-tablet {
      grid-column: span 5;
      margin-bottom: 64px;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__wrapper-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    @extend %small-text;

    margin-bottom: 8px;
  }

  &__id-product {
    @extend %small-text;

    color: $color-icons;
  }

  &__color-list,
  &__capacity-list {
    display: flex;
    gap: 8px;
  }

  &__color-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $color-elements;
    cursor: pointer;

    &--active {
      border: 2px solid $color-primary;
    }
  }

  &__inner {
    height: 100%;

    @include on-tablet {
      max-width: 320px;
    }
  }

  &__capacity {
    @include divider;

    padding-block: 24px;
  }

  &__capacity-btn {
    padding: 8px 16px;
    border: 1px solid $color-elements;
    border-radius: 4px;

    @extend %button-text;

    color: $color-primary;
    background: transparent;

    &--active {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__price-block {
    @include divider;

    display: flex;
    align-items: center;
    padding: 32px 0 16px;
  }

  &__buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }

  // Краткие характеристики (dl / dt / dd)
  &__specs-summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block: 0;
  }

  &__specs-item {
    display: flex;
    justify-content: space-between;

    dt {
      @extend %small-text;
    }

    dd {
      @extend %small-text;

      font-weight: 700;
      color: $color-primary;
      margin: 0;
    }
  }

  // #endregion

  // #region Нижний блок (About + Tech specs)
  &__info {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 56px;

    @include on-tablet {
      gap: 56px;
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
      gap: 64px;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-desktop {
      grid-column: span 7;
    }
  }

  &__tech-specs {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__section-title {
    @include divider(bottom);
    @extend %h2-title;

    padding-bottom: 16px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-title {
      @extend %h3-title;
    }

    &-text {
      @extend %body-text;

      color: $color-secondary-grau;
    }
  }

  &__specs-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block: 0;

    .product-details__specs-item {
      dt {
        @extend %body-text;

        font-weight: 500;
        color: $color-secondary-grau;
      }
      dd {
        @extend %body-text;

        font-weight: 600;
        color: $color-primary;
      }
    }
  }

  // #endregion

  &__recommended {
    margin-top: 56px;

    @include on-desktop {
      margin-top: 80px;
    }
  }
}
