@use '../../../styles/utils/' as *;

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 287px;
  height: 512px;
  margin: 0 auto;
  padding: 32px;
  box-sizing: border-box;

  &__image {
    height: 196px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 16px;
  }

  &__text {
    @extend %small-text;

    color: $color-secondary-grau;
    text-align: center;
    margin: 0 0 24px;

    
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__button {
    @include error-button;
  }
}
