@use '../../styles/utils/' as *;

.favorites-page {
  @include padding-block-content;

  &__header {
    padding-bottom: 32px;

    @include on-tablet {
      padding-bottom: 40px;
    }
  }

  &__error {
    margin-top: 40px;
  }
}
