@use '../../../../styles/utils/' as *;

.back-header-skeleton {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 40px;
  }

  &__btn {
    @include skeleton-bg;

    width: 60px;
    height: 16px;
    border-radius: 4px;
  }

  // Обертка под строки заголовка
  &__title-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @include skeleton-bg;

    height: 32px; // Высота строки соответствует шрифту h1
    border-radius: 4px;

    &--main {
      width: 90%; // Первая длинная строка на мобильном

      @include on-tablet {
        width: 400px;
        height: 40px;
      }
    }

    &--sub {
      width: 50%; // Вторая короткая строка под перенос

      // На планшетах и ПК заголовок помещается в 1 строку — скрываем вторую полосу
      @include on-tablet {
        display: none;
      }
    }
  }
}
