@use '../../../styles/utils/' as *;

.product-price {
  display: flex;
  align-items: center;

  &__price {
    font-family: $font-family-base;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;

    &--old {
      margin-left: 8px;
      font-weight: 500;
      color: $color-secondary-grau;
      text-decoration: line-through;
    }
  }
}
