@use '../../../styles/utils/' as *;

.product-price {

  &__price {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;

    &--old {
      font-weight: 500;
      font-size: 22px;
      line-height: 1;
      margin-left: 8px;
      color: $color-secondary-grau;
      text-decoration: line-through;
    }
  }
}
