@use '../../../styles/utils/variables' as *;
@use '../../../styles/utils' as *;

.footer {
  border-top: 1px solid $color-elements;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    padding: 32px 16px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      padding-inline: 32px;
    }
  }

  &__logo {
    height: auto;
    justify-content: flex-start;
  }
}
