@use '../../../styles/utils/mixins' as *;
@use '../../../styles/utils/placeholder' as *;

.nav-site {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100%;
    padding-top: 24px;

    @include on-tablet {
      flex-direction: row;
      padding: 0;
      gap: clamp(32px, 3vw, 64px);
    }
  }
  &__item {
    height: 27px;

    @include on-tablet {
      height: 100%;
    }
  }

  &__link {
    display: flex;
    height: 100%;
    align-items: center;

    // &:hover {
    //   color: $color-primary;
    // }

    @extend %uppercase-text;
    @include active-underline;
  }
}
