@use '../../../styles/utils/' as *;

.products-list {
  display: grid;
  gap: 40px;
  grid-template-columns: minmax(0, 1fr);
  justify-content: start;

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
   
  }

  @include on-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
