@use '../../../styles/utils/' as *;

.back-header {
  &__btn {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    padding-bottom: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__btn-item {
    @extend %button-text;

    font-size: 12px;
    line-height: 100%;
    color: $color-secondary-grau;
    transform: translateY(1px);
  }

  &__btn-arrow {
    @extend %arrow-icon;
    
    transform: rotate(180deg)
  }

  &__title {
    @extend %h1-title;
  }
}
