@use '../../../styles/utils/' as *;

.back-header {
  &__btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    @extend %buttons-text; // Твой стиль текста

    color: $color-primary;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url('/assets/icons/arrow-left.svg') no-repeat center / contain;
    }
  }

  &__title {
    @extend %h1-title;
  }
}
